# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
*.egg-info/
dist/
build/
htmlcov/
.coverage
.pytest_cache/
.ruff_cache/
.mypy_cache/
.egg-info/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Env & secrets
.env
*.env
*.pem
*.key

# Test / tooling artifacts
gitleaks-report.json
sbom.json
licenses.csv
codeclimate.json

# Helm
charts/*.tgz

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Sonar
.scannerwork/
.sonarlint/

# Containers
*.log
